<template name="postSubmit">
  <div class='ui segment'>
    <form class="ui form">
      <h2 class="ui dividing header">Item Information</h2>
      <div class='ui center aligned inverted segment'>
        <div class="ui buttons">
          <button class="ui negative button">Lost</button>
          <div class="or"></div>
          <button class="ui positive button">Found</button>
        </div>
      </div>
      <a class='ui red ribbon label'>Basic Details</a>
      <div class='ui segment'>
        <div class='two fields'>
          <div class='field'>
            <div class="ui labeled input {{errorClass 'title'}}">
              <div class="ui label">Title</div>
                <input name="title" id="title" type="text" value="" placeholder="Provide a title"/>
              </div>
            </div>
          <div class='field'>
            <div class="{{errorClass 'location'}} ui labeled input">
              <div class="ui label">
                Location
              </div>
              <input name="location" id="location" type="text" placeholder="Where did you lose it?"/>
            </div>
          </div>
        </div>
        <div class='two fields'>
          <div class='field'>
            <div class="{{errorClass 'time'}} ui labeled input">
              <div class="ui label">Time</div>
                <input name='my-datepicker' type="text" id="my-datepicker" placeholder="When did you lose it?">
              </div>
          </div>
          <div class='field'>
            <div id='tags'></div>
          </div>
        </div>
      </div>
      <a class='ui red ribbon label'>You can also provide an optional photo</a>
      <div class='ui segment'>
        <div class='two fields'>
          <div class='field'>
            <div class='ui segment' style='text-align:center'>
              <div id='image-loader' class="ui dimmer">
                <div class="ui text loader">Loading</div>
              </div>
              <img id='lost-item-image' src="/images/lost-static.jpg" height='138' width='138' style='border: 2px solid #333'/>
              <label for="file-upload-cover" class="ui inverted icon labeled orange button">
                <i class='cloud upload icon'></i>
                  Upload
                </label>
              <input id="file-upload-cover" type="file" class="dataInput" style='display: none'/>
            </div>
          </div>
          <div class='field'>
            <div class="{{errorClass 'description'}} ui labeled input">
              <textarea name="description" id="description" type="text" value="" rows='4' placeholder="Describe the item you lost" class="form-control"></textarea>
              <div class="ui corner label">
                <i class="asterisk icon"></i>
              </div>
            </div>
          </div>
          </div>
      </div>
      <div style='text-align: center'>
        <label for='submit-post' class='ui inverted labeled icon green button'>
          <i class='send icon'></i>
           Submit
        </label>
        <input id='submit-post' type="submit" style='display: none'/>
      </div>
  </form>

</div>
</template>
