<template name="postsList">
  <div class="posts page">
    <div class='ui segment'>
      <div class="ui link doubling cards">
        {{#each posts}}
          {{> postItem}}
        {{/each}}
      </div>
        {{#if nextPath}}
          <center><a class='ui inverted orange button' href='{{nextPath}}'>Load More</a></center>
        {{else}}
          {{#unless ready}}
            {{> spinKit}}
          {{/unless}}
        {{/if}}
        {{#if nextPath}}
          <a class="load-more" href="{{nextPath}}">LOAD MORE</a>
        {{else}}
          {{#unless ready}}
            {{> spinKit}}
          {{/unless}}
        {{/if}}
      <h4 class='ui horizontal divider header'>
        <i class='circle thin icon'></i>
      </h4>
    </div>
  </div>
</template>
