<template name="postItem">
  <div class="post">
    <div class='media'>
      <div class='media-left'>
        <a href="{{pathFor 'postPage'}}">
          <img class="media-object" src="{{image}}" height="120em" width="120em">
        </a>
        <div style='text-align: center'>
          <a href="#" class="upvote btn btn-default btn-xs {{upvotedClass}}">+ {{votes}}</a>
          <a href="{{pathFor 'postPage'}}" class="discuss btn btn-primary btn-xs">More</a>
        </div>
      </div>
      <div class='media-body'>
        <h3 class="media-heading"><a class="post-link" href="{{pathFor 'postPage'}}">{{title}}</a>  <small>owner: <strong>{{author}}</strong></small></h3>
        <p class='list-group-item'>
          <h4 class='list-group-item-heading'>Description</h4>
          <p class='list-group-item-text'>{{description}}</p>
          <div style='margin-top: 7px'>
            {{#each tags}}
              <a href="{{pathFor 'tag' tagged=this postsLimit=5}}" class='label-button'>{{this}}</a>
            {{/each}}
          </div>
        </p>
        <p>
          <div class='panel panel-default'>
            <div class='panel-body'>
              {{pluralize votes "Vote"}},
              <a class="post-link" href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a>
              {{#if ownPost}}
                <a href="{{pathFor 'postEdit'}}">Edit</a>
                <a href="#" class='delete'>Delete</a>
              {{/if}}
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</template>
