<template name="postPageItem">
  <div class='ui basic segment'>
    <div class='ui basic center aligned segment item-showcase' style='background-image: url({{image}})'>
          <h1 class="ui icon header" style='color: white'>
            <i class="search icon"></i>
            <div class="content">
              {{title}}
              <div class="sub header" style='color: white'>{{description}}</div>
            </div>
          </h1>
    </div>
    <div class='ui center aligned basic segment'>
      <div class='ui stackable grid'>
        <div class='ui eight wide center aligned column'>
          <div class='ui blue statistic'>
            <div class='value'>
              {{stringifyDate time}}
            </div>
            <div class="label">
              When?
            </div>
          </div>
        </div>
        <div class='ui eight wide center aligned column'>
          <div class='ui teal statistic'>
            <div class='value'>
              {{location}}
            </div>
            <div class='label'>
              Where?
            </div>
          </div>
        </div>
      </div>
    </div>
      {{#if ownPost}}
        <div class='ui center aligned basic segment'>
          <a href="{{pathFor 'postEdit'}}" class='ui inverted blue icon button'>
            <i class='edit icon'></i>
          </a>
          <button class='ui inverted red icon button delete'>
            <i class='trash icon'></i>
          </button>
        </div>
      {{/if}}
  </div>
</template>
