<template name="postsList">
  <div class="posts page">
    <div class='ui center aligned basic segment'>
      <div class="ui center aligned link doubling special cards">
        {{#each posts}}
          {{> postItem}}
        {{/each}}
      </div>
      <h4 class='ui horizontal divider header'><i class='circle thin icon'></i></h4>
        {{#if nextPath}}
          <center><a class='ui inverted orange button' href='{{nextPath}}'>Load More</a></center>
        {{else}}
          {{#unless ready}}
            {{> spinKit}}
          {{/unless}}
        {{/if}}
    </div>
  </div>
</template>
