<template name="postItem">
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted blue button view-post">View</div>
            {{#if ownPost}}
              <div class='ui inverted red icon button delete'><i class='trash outline icon'></i></div>
              <div class='ui inverted icon button edit-post'><i class='edit icon'></i></div>
            {{/if}}
          </div>
        </div>
      </div>
      <img src="{{image}}">
    </div>
    <div class="content">
      <a class="header" href="{{pathFor 'postPage'}}">{{title}}</a>
      <div class="meta">
        <span class="date">{{description}}</span>
        <div class='ui segment'>
          <p>
            <a href="#" class='ui red circular label tiny'>{{location}} on {{time}}</a>
          </p>
          <p>
            {{#each tags}}
              <a href="{{pathFor 'tag' tagged=this postsLimit=5}}" class='ui teal tag label mini'>{{this}}</a>
            {{/each}}
          </p>
        </div>
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        {{votes}} <i class='thumbs outline up icon'></i>
        {{commentsCount}} <i class='comments icon'></i>
      </span>
      <a>
        <i class="user icon"></i>
        {{author}}
      </a>
    </div>
  </div>
</template>
