<template name="postPageItem">
  <div class='ui segment'>
    <div class='ui center aligned segment access-denied page jumbotron item-showcase' style='background-image: url({{image}})'>
        <h1>{{title}}</h1>
    </div>
    <div class='ui grid'>
      <div class='eight wide column'>
        {{title}}
        {{description}}
      </div>
      <div class='eight wide column'>
        {{time}}
        {{location}}
      </div>
      {{#if ownPost}}
        <div class='ui center aligned segment'>
          <a href="{{pathFor 'postEdit'}}" class='ui inverted blue labeled icon button'>
            <i class='comments icon'></i>
            Edit
          </a>
          <button class='ui inverted red labeled icon button delete'>
            <i class='edit icon'></i>
            Delete
          </button>
        </div>
      {{/if}}
    </div>
  </div>
</template>
