<template name="postItem">
  <div class="post">
    <a href="#" class="upvote btn btn-default {{upvotedClass}}">+ {{votes}}</a>
    <div class='media'>
    <div class='media-left'>
      <a href="{{pathFor 'postPage'}}">
        <img class="media-object" src="{{image}}" height="150em" width="125em">
      </a>
    </div>
  <div class='media-body'>
    <div class="post-content">
      <div class='list-group'>
        <p class='list-group-item active'>
          <h4 class='list-group-item-heading'><a class='post-item-title' href="{{pathFor 'postPage'}}">{{title}}</a></h4>
        </p>
        <p class='list-group-item'>
          <h4 class='list-group-item-heading'>Description</h4>
          <p class='list-group-item-text'>{{description}}</p>
        </p>
      </div>
      <p>
        {{pluralize votes "Vote"}},
        submitted by {{author}},
        <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a>
        {{#if ownPost}}
          <a href="{{pathFor 'postEdit'}}">Edit</a>
          <a href="#" class='delete'>Delete</a>
        {{/if}}
      </p>
    </div>
  </div>
</div>
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Discuss</a>
  </div>
</template>
