<template name='tagList'>
  <div class="posts page">
    <div class='container wrapper'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h3 class='panel-title'>Tag: "{{getFromSession 'tag'}}"</h3>
        </div>
        <div class='panel-body'>
          {{#each posts}}
            {{> postItem}}
          {{/each}}

          {{#if nextPath}}
            <center><a class='load-more' href='{{nextPath}}'>LOAD MORE</a></center>
          {{else}}
            {{#unless ready}}
              {{> spinner}}
            {{/unless}}
              <div class="post"><p style="text-align: center; line-height: 20px">End of results.</p></div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
