<template name="commentSubmit">
  <form name="comment" class='ui basic segment' style='border-top: 1px solid #eee'>
    <div class="form-group {{errorClass 'body'}}">
        <div class="controls">
            <label for="body">Comment on this post</label>
            <textarea name="body" id="body" class="form-control" rows="3"></textarea>
            <span class="help-block">{{errorMessage 'body'}}</span>
        </div>
    </div>
    <label for='add-comment' class='ui inverted green labeled icon button'>
      <i class='comments icon'></i>
      Add
    </label>
    <input id='add-comment' type="submit" style='display: none' />
  </form>
</template>
