<template name="commentItem">
  <li style='border-top: 1px solid #eee'>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="/images/lost-static.jpg" height="32" width="32" alt="/images/lost-static.jpg">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{author}}
          <span class='date'>on {{getLastSeen submittedText}}</span>
          {{#if ownComment}}
            <span class="data"><a class="edit" href="#">Edit</a></span>
            <a class="delete" href="#">Delete</a>
          {{/if}}
        </h4>
        <p>{{body}}</p>
      </div>
    </div>
  </li>
</template>
