<template name="about">
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class="jumbotron about-page" style='background-image: url("/images/lost-static.jpg"); color: white'>
        <h1>Lost & Found</h1>
        <p class="lead">Just like you, we hate seeing 'Lost' e-mails in our inbox too.</p>
        <p><a class="btn btn-success sign-up" href="#" role="button">Sign Up</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h2><span class='glyphicon glyphicon-th-list' style='font-size: 18px'></span> Changelog</h2>
          <ul>
            <h4><li>Version 0.02<h5 style="display: inline">    (18th July 2015) (<p style="color:#c9302c; display: inline; font-weight: bold">Current Release</p>)</h5></li></h4>
            <ul>
              <li>Post layout UPDATED (improved for better mobile viewing)</li>
              <li>Added Post editing/deletion functionality</li>
              <li>Added Comment edition/deletion functionality</li>
              <li>SweetAlert modal windows</li>
              <li>Added splash screen (with app logo)</li>
              <li>Added YouTube-like loader and spinner when loading routes</li>
            </ul>
          </ul>
          <ul>
            <h4><li>Version 0.01<h5 style="display: inline">    (17th July 2015)</h5></li></h4>
            <ul>
              <li>Add post for lost items</li>
              <li>All inputs have error handling</li>
              <li>Added MagicSuggest for taggging</li>
              <li>Added Mobile support</li>
              <li>Added functionality to view Posts according to labels</li>
              <li>Added Houston Admin for handling databases on-the-fly</li>
              <li>Published Users and Houston Admins collection</li>
              <li>Added comments (comment on posts)</li>
            </ul>
          </ul>
        </div>
        <div class="col-lg-6">
          <h2><span class='glyphicon glyphicon-edit' style='font-size: 18px'></span> To-Do</h2>
          <ul>
            <li>add tooltips on submit/edit page</li>
            <li>add email verification</li>
            <li>add user status information</li>
            <li>add map locations</li>
            <li>improve comment notifications</li>
            <li>implement Facebook-like comment/notifcation/post time duration</li>
            <li>add alerts for upload failures</li>
            <li>optimize publications</li>
            <li>add SpinKit for loading animations</li>
          </ul>
          <h2><span class='glyphicon glyphicon-exclamation-sign' style='font-size: 18px'></span> Issues</h2>
          <ul>
            <li>Post image preview malfunctionings</li>
          </ul>
          <h2><span class='glyphicon glyphicon-user' style='font-size: 18px'></span> Team</h2>
          <ul>
            <li>Sanidhya Pratap Singh (3rd Year, B.Tech CSE, Shiv Nadar University)</li>
            <ul>
              <li><a href='https://www.facebook.com/sanidhya.666.devil' target="_blank">Facebook</a></li>
              <li><a href='https://twitter.com/SanidhyaSingh7' target="_blank">Twitter</a></li>
            </ul>
          </ul>
          <h2>Technology</h2>
          <ul>
            <li>This application is built using the Meteor.js framework</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
