<template name="header">
  <div class="ui grid">
      <div class="computer tablet only row">
          <div class="ui inverted fixed menu navbar page grid">
              <a href="{{pathFor 'home'}}" class="brand item {{activeRouteClass 'home'}}">ProjectName</a>
              <a href="{{pathFor 'newPosts'}}" class="item {{activeRouteClass 'newPosts'}}">Latest</a>
              <a href="{{pathFor 'bestPosts'}}" class="item {{activeRouteClass 'bestPosts'}}">Top</a>
              <a href="{{pathFor 'postSubmit'}}" class="item {{activeRouteClass 'postSubmit'}}"><i class='plus icon'></i></a>
              <div class="ui dropdown item toggle-dropdown">
                Notifications
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item">Action</div>
                  <div class="item">Another action</div>
                  <div class="item">Something else here</div>
                  <div class="ui divider"></div>
                  <div class="item">Seperated link</div>
                  <div class="item">One more seperated link</div>
                </div>
              </div>
              <div class="right menu">
                <a href="{{pathFor 'test'}}" class='item'>Test</a>
                  {{#if currentUser}}
                    <a href="{{pathFor 'changePassword'}}" class='item'>{{currentUser.username}}</a>
                  {{else}}
                    <a href="{{pathFor 'signIn'}}" class='item'>Sign In</a>
                  {{/if}}
              </div>
            </div>
        </div>
      <div class="mobile only row">
          <div class="ui fixed inverted navbar menu">
              <a href="{{pathFor 'home'}}" class="brand item mobile-view"><i class='list icon'></i> SNU</a>
              <div class="mobile-view right menu">
                  <a href="" class="menu item">
                      <i class="users icon"></i>
                      More
                  </a>
              </div>
          </div>
          <div class="ui vertical navbar menu wow slideInDown">
            <a href="{{pathFor 'newPosts'}}" class="item {{activeRouteClass 'newPosts'}}">Latest</a>
            <a href="{{pathFor 'bestPosts'}}" class="item {{activeRouteClass 'bestPosts'}}">Top</a>
            <a href="{{pathFor 'postSubmit'}}" class="item {{activeRouteClass 'postSubmit'}}">Add</a>
              <div class="ui item">
                  <div class="text">Dropdown</div>
                  <div class="menu">
                      <a class="item">Action</a>
                      <a class="item">Another action</a>
                      <a class="item">Something else here</a>
                      <a class="ui aider"></a>
                      <a class="item">Seperated link</a>
                      <a class="item">One more seperated link</a>
                    </div>
              </div>
              <div class="menu">
                <a href="{{pathFor 'test'}}" class='item'>Test</a>
                  {{#if currentUser}}
                    <a href="{{pathFor 'changePassword'}}" class='item'>{{currentUser.username}}</a>
                  {{else}}
                    <a href="{{pathFor 'signIn'}}" class='item'>Sign In</a>
                  {{/if}}
              </div>
          </div>
      </div>
  </div>
    <!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor 'home'}}">SNU Meteor</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        <li class="{{activeRouteClass 'home' 'newPosts'}}">
          <a href="{{pathFor 'newPosts'}}">Recent</a>
        </li>
        <li class="{{activeRouteClass  'bestPosts'}}">
          <a href="{{pathFor 'bestPosts'}}">Top</a>
        </li>
        {{#if currentUser}}
          <li class="{{activeRouteClass 'postSubmit'}}">
            <a href="{{pathFor 'postSubmit'}}"><span class='glyphicon glyphicon-plus-sign'></span></a>
          </li>
          <li class="dropdown">
            {{> notifications}}
          </li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
    </div>
  </div>
</nav>-->
</template>
